html {
    font-size: 10px;
}
body {
    background-color: blueviolet;
}
.container {
    background-color: lightblue;
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 10px solid;
    margin: 50px;
    border-radius: 10px;
    font-size: 2rem;
}